
 .img{
    padding-top: 1%;

}

.h6{
color: white;

}

.href{
    color: blueviolet;
}



.head1{
    color: red;
    font-size: 80px;
    background-color: white;
    padding-left: 20px;


}
.menu{
    position:relative;
color: rgb(195, 26, 26);

padding-left: 20px;
font-size: 20px;
padding-bottom: 30px;

}
.top-left {
    position: relative;
    top: 100px;
    left: 16px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 40px;
  }


  .box {
    padding: 0 450px;
    height: 300px;

  }

  .box::after, .new::after {
    content: "";
    clear: both;
    display: table;
  }
  .button{
    color: rgb(7, 7, 7);
    background-color: white;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(233, 219, 219);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0a0000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
body{
  background-color: white;
}
.colume2{
  float: left;
  width: 200px;
  padding: 40;
  height: 200px;
  text-align: left;
  text-shadow: dimgray;



}

.row::after{
  content: "";
  display: table;
  clear: both;
}